<!DOCTYPE html>
<html>
  <head>
    <title>Sneakers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> 

    <script>
      window.images = {
        banned1s: "<%= asset_path("1994_Banned_1s.png")%>",
        jubilee11s: "<%= asset_path("Jubilee_11s.png")%>",
        sbs: "<%= asset_path("nostalgia_sbs.jpg")%>",
        sns: "<%= asset_path("sns_final.jpg")%>",
        kyanite: "<%= asset_path("Kyanite.jpg")%>",
        beluga: "<%= asset_path("Beluga_on_feet.jpg")%>",
        motorsports: "<%= asset_path("motorsports.jpg")%>",
        carmine:  "<%= asset_path("carmine.jpg")%>",
        mars:  "<%= asset_path("mars_on_feet.jpg")%>",
        human_race:  "<%= asset_path("human_race_on_feet.jpg")%>",
        concord:  "<%= asset_path("concord.jpg")%>",
        black_750:  "<%= asset_path("750_black.jpg")%>",
        grey_750:  "<%= asset_path("750_grey.jpg")%>",
        y3:  "<%= asset_path("y3.jpg")%>",
        moonrock:  "<%= asset_path("moonrock.jpg")%>",
        nmd_red_white: "<%= asset_path("nmd_red_white.jpg")%>",
        oreo: "<%= asset_path("oreo.jpg")%>",
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
